{% extends 'spendoApp/index.html' %}

{% block content %}
<div class="container space-top-xl">
        <h1>Contáctenos</h1>
        <div class="row">
            <div class="col-md-5 space-top-lg">
    
                <h3>Puedes contactarnos en cualquiera de nuestras redes sociales y escribirnos sobre cualquier petición, queja, reclamo o sugerencia.</h3>
                <div class="boton space-top-lg ">
                    <a href="https://www.facebook.com" class="btn btn-primary btn-md btn-facebook space-top btn-contact-size m-2 text-white"><i class="fab fa-facebook"></i> Facebook</a><br>
    
                    <a href="https://www.instagram.com" class="btn btn-danger btnColor btn-md space-top btn-contact-size m-2"><i class="fab fa-instagram"></i> Instragram</a><br>
    
                    <a href="https://www.twitter.com" class="btn btn-info btnColor btn-md space-top btn-contact-size m-2"><i class="fab fa-twitter"></i> Twitter</a><br>    
                </div> 
            </div>
            <div class="col-md-7 space-top-lg" style="margin-top: 45px">
    
                <h3>O también, puedes visitar nuestras oficinas y con todo el gusto te atenderemos.</h3>
    
                <div class="center text-center space-top-lg">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3743.7898542062185!2d-75.5880690444671!3d6.209900711138714!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1531755287908" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    