{% extends 'spendoApp/index.html' %}

{% block content %}
<div class="container space-top-lg space-bot-xl animated wow fadeInUp">
        <div class="row">
            <div class="col-md-8">
                <h1 style="font-size: 45px; ">Spendo</h1>
                <p style="font-size: 24px; text-align: justify">Con este maravilloso software podrás administrar de una mejor forma tus gastos en el área de servicios públicos, con esto nuestros usuarios podrán tomar mejores decisiones de acuerdo a tu presupuesto. <br><br>¡Pruébalo ahora mismo!
                </p>
            </div>
            <div class="col-md-4 text-center ">
            </div>
        </div>
    </div>

        <div class="container animated wow fadeInUp m">
            <div class="jumbotron text-center hoverable p-4 space-top-xl text-white bg-info" style="background-image: url(<%= asset_path 'jumbo_background1.jpg' %>);">
                <div class="row ">
    
                    <div class="col-md-4 offset-md-1 mx-3 my-3 ">
    
                        <div class="view overlay">
                            <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid rounded" alt="Sample image for first version of blog listing">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
    
                    </div>
    
                    <div class="col-md-7 text-md-left ml-3 mt-3">
    
                        <a href="#!" class="green-text">
                            <!-- <h6 class="h6 pb-1"><i class="fa fa-desktop pr-1"></i> Work</h6> -->
                        </a>
    
                        <h3 class="h3 mb-4 text-dark">Nuestra misión</h3>
    
                        <p class="font-md font-weight-bold text-dark">Nuestra misión es que las personas de toda el área de Medellín, ya sean de cualquier estrato económico puedan tomar mejores decisiones con respecto a sus servicios públicos por medio de nuestro software.</p>
                        <p class="font-weight-normal space-top-lg font-md text-dark font-weight-bold">by <a href="/About" class="no-decoration"><strong class=" text-dark">Esteban Saldarriaga Alzate</strong></a>, 19/08/2016</p>
    
                    </div>
    
                </div>
    
            </div>
    
    
    
    
            <div class="jumbotron text-center hoverable p-4 space-bot-xl bg-info">
                <div class="row">
    
    
                    <div class="col-md-7 text-md-left ml-3 mt-3 text-white" >
    
                        <a href="#!" class="green-text">
                            <!-- <h6 class="h6 pb-1"><i class="fa fa-desktop pr-1"></i> Work</h6> -->
                        </a>
    
                        <h3 class="h3 mb-4 text-dark font-weight-bold">Nuestra visión</h3>
    
                        <p class="font-weight-bold font-md text-dark">Nuestra visión es, no sólo quedarnos en la ciudad de Medellín sino, expandernos a todo el país si es posible; y a un mediano-largo plazo y con los medios necesarios ver la factibilidad de ampliarnos al sector internacional.</p>
                        <p class="font-weight-bold space-top-lg font-md text-dark">by <a href="/About" class="no-decoration"><strong  class="text-dark">Esteban Saldarriaga Alzate</strong></a>, 19/08/2016</p>
    
                    </div>
                    <div class="col-md-4 offset-md-1 mx-3 my-3">
    
                        <div class="view overlay">
                            <img src="https://preska.wideinfo.org/wp-content/uploads/2017/06/thinkstockphotos-477529408-1-1-1.jpg" class="img-fluid rounded " alt="Sample image for first version of blog listing">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
    
                    </div>
    
                </div>
    
            </div>
        </div>
{% endblock %}     

